<h1>Log in</h1>
<h2><%= flash[:notice] %></h2>
<%= form_tag new_session_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= text_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag "Log In"%>
  </div>
<% end %>
