<p id="notice"><%= notice %></p>

<div class="row justify-content-center">
  <h1 class="mb-0">
    <%= @user.name %>
  </h1>
</div>
<% if current_user&.id == @user.id %>
  <div class="row justify-content-center mt-4">
    <%= @user.email %>
  </div>
  <div class="row justify-content-center mt-4">
    <span class="mx-1"><%= link_to 'Edit account', edit_user_path(@user) %></span>
    <span class="mx-1"><%= link_to 'Destroy account', @user, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
<% end %>
<div class="row justify-content-center">
  <h2 class="my-4">Recent Ideas</h2>
</div>

<% @user.ideas.reverse.first(3).each do |idea| %>
  <article>
    <%= render 'ideas/idea', idea: idea %>
  </article>
<% end %>

<h2>Most Pinned Ideas</h2>

<% @user.most_pinned_ideas.first(3).each do |idea| %>
  <article>
    <%= render 'ideas/idea', idea: idea %>
  </article>
<% end %>

<% unless @user.pins.empty? %>
  <h2>Pins</h2>

  <% @user.pins.each do |pin| %>
    <article>
      <%= render 'ideas/idea', idea: pin.idea %>
    </article>
  <% end %>
<% end %>

<% if current_user&.id == @user.id %>
<% end %>
