<p id="notice"><%= notice %></p>

<div class="row justify-content-center">
  <h1 class="mb-0">
    <%= @user.name %>
  </h1>
</div>
<% if current_user&.id == @user.id %>
  <div class="row justify-content-center mt-4">
    <%= @user.email %>
  </div>
  <div class="row justify-content-center mt-4">
    <span class="mx-1"><%= link_to 'Edit account', edit_user_path(@user) %></span>
    <span class="mx-1"><%= link_to 'Destroy account', @user, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
<% end %>

<div class="row mt-4">
  <div class="col-2 text-center">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-recent-list" data-toggle="list" href="#list-recent" role="tab" aria-controls="recent">Recent ideas</a>
      <a class="list-group-item list-group-item-action" id="list-popular-list" data-toggle="list" href="#list-popular" role="tab" aria-controls="popular">Most pinned ideas</a>
      <a class="list-group-item list-group-item-action" id="list-pins-list" data-toggle="list" href="#list-pins" role="tab" aria-controls="pins">Pins</a>
    </div>
  </div>
  <div >
    <div class="col-4">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-recent" role="tabpanel" aria-labelledby="list-recent-list">

          <% @user.ideas.reverse.each do |idea| %>
            <article>
              <%= render 'ideas/idea', idea: idea %>
            </article>
          <% end %>

        </div>
        <div class="tab-pane fade" id="list-popular" role="tabpanel" aria-labelledby="list-popular-list">

          <% @user.most_pinned_ideas.each do |idea| %>
            <article>
              <%= render 'ideas/idea', idea: idea %>
            </article>
          <% end %>

        </div>
        <div class="tab-pane fade" id="list-pins" role="tabpanel" aria-labelledby="list-pins-list">

          <% @user.pins.each do |pin| %>
            <article>
              <%= render 'ideas/idea', idea: pin.idea %>
            </article>
          <% end %>

        </div>
      </div>
    </div>
    <div class="col-4">
    </div>
  </div>
</div>
