<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://kit.fontawesome.com/a1af748962.js" crossorigin="anonymous"></script>


    <title>Nikita</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <nav class="row navbar navbar-expand-lg text-center">
      <span class="navbar-brand" href=""><%= link_to "Nikita", ideas_path %></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="col navbar-nav">
            <div class="col-lg-2">
              <li class="nav-item active">
                <%= link_to "Discover Ideas", ideas_path, class: "nav-link" %>
              </li>
            </div>
            <div class="col-lg-2">
              <li class="nav-item">
                <%= link_to "Find Users", users_path, class: "nav-link" %>
              </li>
            </div>

            <% if current_user %>
              <div class="col-lg-2 offset-lg-4">
                <li class="nav-item active">
                  <%= link_to "#{current_user&.name.capitalize}'s Profile", current_user, class: "nav-link" %>
                </li>
              </div>
              <div class="col-lg-2">
                <li class="nav-item active">
                  <%= link_to "Log Out", delete_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link" %>
                </li>
              </div>
            <% else %>
              <div class="col-lg-2 offset-lg-4">
                <li class="nav-item active">
                  <%= link_to "Log in", new_session_path, class: "nav-link" %>
                </li>
              </div>
              <div class="col-lg-2">
                <li class="nav-item">
                  <%= link_to "Sign up", new_user_path, class: "nav-link" %>
                </li>
              </div>
            <% end %>
          </ul>

        </div>
        </nav>

        <div class="row justify-content-center">
          <div class="col-sm">
            <%= yield %>
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
